div{
    height: 200px;
    width: 200px;
    margin:10px;
    position: relative;
}
#div1{
    background-color: red;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: 3;
}
#div2{
    background-color: blue;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: 3;

}
#div3{
    background-color: green;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: 3;

}
@keyframes move{
    0%{
      left: 0px;
      border-radius: 0px;
    }
    100%{
     left: 800px;
     border-radius: 100px;
    }
}
   
